.navbar-light .navbar-brand {
  color: #00C853;
}
.navbar-light .navbar-nav .nav-link {
  color: #484848;
  font-size: 1.25em;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #00C853;
}

@media (max-width: 767px) {
  .navbar-light:hover .navbar-nav:hover .nav-link:hover {
    height: 100%;
  }
}

.navbar-toggler-icon {
  color: white;
}

.transparent-black {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .transparent-black {
    background-color: #ffffff;
  }
}
