.navbar {
  padding-left: 0;
}

.navbar-light .navbar-brand {
  color: #00C853;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 24px;
}
.navbar-light .navbar-nav .nav-link {
  color: #484848;
  font-size: 1.35em;
  font-family: 'Source Sans Pro', 'sans-serif';
  cursor: pointer;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #00C853;
}

@media (max-width: 767px) {
  .navbar-light:hover .navbar-nav:hover .nav-link:hover {
    height: 100%;
  }
}

.navbar-toggler-icon {
  color: #feffff;
}

.bkg-white {
  background-color: #feffff;
}

.dropdown-item:hover {
  color: #00C853;
  background-color: #feffff;
}