/******************************* DEFAULTS *****************************/
html,
body {
  width: 100%;
  min-height: 95vh !important;
  margin: 0px;
  padding: 0 1em 20px 1em;
  overflow-x: hidden;
  background-color: #feffff;
}

body {
  padding: 0 0 20px 0;
}

.text-input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/******************************* TEXT *********************************/

.ordered-list-large {
  font-size: 2.5em;
  margin-right: 1em;
  padding: 0;
  margin: 0;
}

.flexbox::-webkit-scrollbar {
  display: none;
}
/****************************** BUTTONS**************************/
.back-btn {
  margin-bottom: 30px;
  position: fixed;
  z-index: 900;
}

@media(max-width: 768px) {
  .back-btn {
    margin-bottom: 30px;
    position: relative;
  }
}

.dropzone-x {
  float: left;
  margin-top: -15px;
  font-size: 25px;
  transition: 0.3s;
}

.dropzone-x:hover {
  transform: scale(1.2);
}

/****************************** POSITIONING ***************************/
.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left !important;
}

.margin-vertical-md {
  margin-top: 1em;
}

.margin-vertical-sm {
  margin-top: 0.5em;
}

.margin-vertical-xs {
  margin-top: 0.25em;
}

.margin-vertical-lg {
  margin-top: 2.5em;
}

.margin-vertical-xl {
  margin-top: 5em;
}

.display-inline-block {
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.f-jcc {
  display: flex !important;
  justify-content: center !important;
}

.f-aic {
  display: flex !important;
  align-items: center !important;
}

/************* Random ***************/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #9e9e9e !important;
}

/****************** CSS GRID ***************/
@media (max-width: 5000px) {
  .grid-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .grid-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .grid-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-cols {
    grid-template-columns: 1fr;
  }
}
