/******************************* DEFAULTS *****************************/
html,
body {
  width: 100%;
  min-height: 100% !important;
  margin: 0px;
  padding: 0em 1em;
  overflow-x: hidden;
  background-color: #feffff;
}

.text-input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/******************************* TEXT *********************************/

.ordered-list-large {
  font-size: 2.5em;
  margin-right: 1em;
  padding: 0;
  margin: 0;
}

.flexbox::-webkit-scrollbar {
  display: none;
}
/****************************** AUTH BUTTONS**************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


.email-signup {
  background-color: #f4cd00;
}

.email-signup:hover {
  color: #ca9b52;
}

.sign-in-button {
  margin: 0px;
  display: inline-block;
  width: 240px;
  height: 50px;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}
.sign-in-button:hover {
  cursor: pointer;
  /*-webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);*/
}
.sign-in-button:active {
  background-color: #3367d6;
  transition: background-color 0.2s;
}
.sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}
.sign-in-button img {
  width: 18px;
  height: 18px;
  vertical-align: top;
}
.sign-in-button .logo-wrapper {
  padding: 15px;
  width: 48px;
  height: 100%;
  border-radius: 1px;
  display: inline-block;
  margin-left: -10px;
}
.sign-in-button .text-container {
  font-family: Roboto, arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.21px;
  font-size: 16px;
  line-height: 48px;
  vertical-align: top;
  border: none;
  display: inline-block;
  text-align: center;
  width: 180px;
}

/****************************** POSITIONING ***************************/
.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left !important;
}

.margin-vertical-md {
  margin-top: 1em;
}

.margin-vertical-sm {
  margin-top: 0.5em;
}

.margin-vertical-xs {
  margin-top: 0.25em;
}

.margin-vertical-lg {
  margin-top: 2.5em;
}

.margin-vertical-xl {
  margin-top: 5em;
}

.display-inline-block {
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}
